body {
  font-family: 'Orbitron', sans-serif;
  background-color: #121212;
  color: #fff;
  text-align: center;
}

#riddle-container {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #555;
}

#error-message {
  color: red;
}

#next-clue {
  margin-top: 20px;
}
