body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

#lockscreen {
  display: flex; /* Ensure flexbox is applied */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Horizontally center the content */
  justify-content: center; /* Vertically center the content */
  width: 100%; /* Ensure the lockscreen takes full width */
}

h1, h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

#lock-image {
  width: 150px;
  height: auto;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  background-color: #333;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #555;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 10px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

#sidebar.visible {
  visibility: visible;
  opacity: 1;
}

#hamburger {
  display: block;
}

#sidebar.visible + #hamburger {
  display: none;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  margin: 10px 0;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

#sidebar a {
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#sidebar a:hover {
  background-color: #45a049;
}

#instruction-message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
